@import url(styles.css);

.card {
    background-color: var(--light-teal);
    border: solid 2px var(--teal);
    border-radius: 5px;
    width: 300px;
}

.card>* {
    margin: 1rem;
}

.card__info>* {
    margin: 1rem;
}
